---
layout: default
---
{% assign artistaid = page.item_id %}
{% assign artista = site.data.artistas | where:"item_id", artistaid | first %}
{% capture SELECTOR %}-{{ artistaid }}.jpg{% endcapture %}

<article class="post">
  <h1><strong>{{ artista.alias }}</strong></a><em> - {{ artista.nombre }}</em></h1>
  <blockquote>{{ artista.bio | default: "**Ninguna nota biográfica proporcionada todavía**" }}</blockquote>
  <blockquote>{{ artista.bio_va }}</blockquote>

  <div class="entry">
    {{ content }}
    {% include selector.html %}
  </div>

</article>
