---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="responsive">
    {% capture SELECTOR %}{{ page.galeria_pathname }}{% endcapture %}
    {% assign clase1 = "gallery" %}
    {% assign clase2 = "desc" %}
    {% include selector.html %}
  </div>

  <div class="date">
    Obras de los artistas de la Escuela de Pintura de Carlet, realizadas desde la primavera de 2020.<br/>
    Escrito en {{ page.date | date: "%Y-%m-%d " }}
  </div>

  {% include comentarios.html %}
</article>
